@import "./SignInScreen/SignInScreen.pcss";
@import "./SignUpScreen/SignUpScreen.pcss";
@import "./History/HistoryTab.pcss";
@import "./ConfirmScreen/ConfirmScreen.pcss";
@import "./OrdersTabScreen/OrdersTabScreen.pcss";
