.custom-input {
  label {
    font-size: 11px;
    left: 2%;
  }

  .form-control {
    height: 50px !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1px;
    color: var(--bright);
  }

  input:focus-within {
    border: 2px solid var(--sign-in-accent);

    label {
      color: var(--accent);
    }
  }
}