.pg-deposit-primary-wallet {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: flex-start;
  padding: 24px 18px;
  width: 100%;

  h1 {
    align-items: center;
    color: var(--bright);
    display: flex;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 24px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin: 0;
    margin-bottom: 24px;
    text-align: center;
  }

  .pg-wallets-order,
  .cr-order,
  .cr-tab-panel {
    display: flex;
    height: max-content;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .cr-tab-panel {
    &__navigation-container {
      display: none;
    }

    .cr-tab-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: max-content;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      width: 100%;

      .cr-order-form {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        height: max-content;
        justify-content: space-between;
        width: 100%;
      
        &__col {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: 0 10px;
          width: calc(50% - 10px);
      
          &:first-child {
            margin-left: 0;
          }
      
          &:last-child {
            margin-right: 0;
          }

          .cr-order-item {
            margin: 0;
            margin-bottom: 8px;

            .cr-dropdown {
              align-items: center;
              display: flex;
              flex-direction: row;
              height: 49px;
              justify-content: center;
        
              button {
                align-items: center;
                border: 1px solid var(--divider-color);
                border-radius: 4px;
                display: flex;
                flex-direction: row;
                height: 49px;
                justify-content: space-between;
                width: 100%;
        
                &::after {
                  background-position: center center;
                  background-repeat: no-repeat;
                  background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAyMCI+PHRpdGxlPmljb24tY2hldnJvbi1kb3duPC90aXRsZT48cG9seWdvbiBwb2ludHM9IjMyIDMuNDI5IDE2IDE5LjQyOSAwIDMuNDI5IDIuODU5IDAuNTcxIDE2IDEzLjcxMiAyOS4xNDEgMC41NzEgMzIgMy40MjkiIHN0eWxlPSJmaWxsOiM3NTc1NzUiLz48L3N2Zz4=");
                  border: none;
                  display: inline-block;
                  font-style: normal;
                  height: 7px;
                  margin-right: 7px;
                  padding: 0;
                  transition-duration: 0.4s;  
                  transition-property: transform;  
                  width: 12px;
                }
              }
        
              .dropdown-menu {
                max-height: 23vh;
                overflow-y: auto;
                overflow-x: hidden;
                position: absolute;
              }
            }

            .dropdown-toggle {
              border: 1px solid var(--divider-color);
            }
            
            .cr-order-input {
              height: 49px;

              &__fieldset {
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                border: 1px solid var(--divider-color);
                margin: 0;

                .custom-input {
                  height: 49px;

                  input {
                    height: 47px;
                    padding: 0 13px;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 18px;
                    letter-spacing: 0.1px;
                  }
                }
              }


              &__crypto-icon {
                align-items: center;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
                border: 1px solid var(--divider-color);
                border-left: none;
                display: flex;
                font-size: 11px;
                font-weight: 500;
                justify-content: center;
                letter-spacing: 0.1px;
                line-height: 18px;
                margin: 0;
                padding: 0;
                user-select: none;
              }
            }

            &__available,
            &__price,
            &__total {
              align-items: flex-end;
              color: var(--bright);
              display: flex;
              flex-direction: row;
              font-size: 12px;
              font-weight: 500;
              letter-spacing: 0.5px;
              line-height: 12px;
              padding-bottom: 24px;
              width: 100%
            }

            &__available,
            &__price {
              border-bottom: 1px solid var(--divider-color-0-5);
              justify-content: flex-end;

              span:last-child {
                opacity: 0.72;
              }
            }

            &__total {
              justify-content: space-between;
              margin-top: 16px;
              padding: 0;

              &__label {
                margin: 0;
              }

              &__content {
                margin: 0;
                opacity: 0.72;
              } 
            }

            .btn-success {
              align-items: center;
              display: flex;
              font-size: 14px;
              font-weight: bold;
              height: 40px;
              justify-content: center;
              letter-spacing: 1px;
              line-height: 17px;
              text-transform: capitalize;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
