.pg-2fa-enable {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99991;
  display: flex;
  justify-content: center;
  align-items: center;

  &__modal {
    max-width: 535px;
    max-height: 479px;
  }
}